@font-face 
{
    font-family: 'digital-7_monomono';
    src: url('./Fonts/digital7-webfont.woff2') format('woff2'),
         url('./Fonts/digital7-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

body 
{
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0px;
    user-select: none;
}


.leftBar
{
    display: none;
    height: 100%;
    width: 50px;
    background-color: rgba(100, 0, 0, 0.5);
}

.leftBar img 
{
    width: 50px;
    margin-bottom: 200px;
}

.leftBar>.icon:hover 
{
    background-color: whitesmoke;
}



.icon
{
    height: 100px;
    background-color: red;
    margin-bottom: 50px;
    padding-top: 50px;
}


.leftBarExpanded
{
    display: none;
    height: 100%;
    width: 200px;
    background-color: rgba(100, 0, 0, 0.5);
    
}
.leftBarExpanded>.icon 
{
    height: 150px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.leftBarExpanded>.icon img 
{
    width: 100px;
    margin-bottom: 200px;
}

.leftBarExpanded>.icon:hover 
{
    background-color: whitesmoke;
}

.clockHeading
{
    font-family: monospace;
    font-size: 30px;
    width: 100px;
    margin-left: -25px;
    font-weight: bolder;
    text-align: center;
}

.adjust1
{   transform: translateX(23px);}

.adjust2
{   transform: translateX(25px);}

.active
{
    display: inline-block;
}


/* Clock Styling */
.clock
{
    position: absolute;
    border-radius: 25px;
    top: 200px;
    left: 500px;
    display: inline-block;
    height: 500px;
    width: 900px;
    background-color: whitesmoke;
    color: whitesmoke;

}

.clock>.border
{
    border-radius: 5px;
    background-color: black;
    position: relative;
    top: 50px;
    left: 75px;
    height: 300px;
    width: 650px;
    padding: 50px;
    font-family: "digital-7_monomono";
    text-align: center;
}

#day
{
    font-size: 100px;
}

#timeOfDay
{
    font-size: 50px;
}

#hourClock
{
    display: inline-block;
    font-size: 100px;
}

#minuteClock
{
    display: inline-block;
    font-size: 100px;
}

#secondClock
{
    display: inline-block;
    font-size: 100px;
}


#dateClock
{
    margin-left: 30px;
    display: inline-block;
    font-size: 75px;
}

#monthClock
{
    display: inline-block;
    font-size: 75px;
}


#yearClock
{
    display: inline-block;
    font-size: 75px;
}