@font-face 
{
    font-family: 'digital-7_monomono';
    src: url('./Fonts/digital7-webfont.woff2') format('woff2'),
         url('./Fonts/digital7-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

body 
{
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0px;
    user-select: none;
}


.leftBar
{
    display: none;
    height: 100%;
    width: 50px;
    background-color: rgba(100, 0, 0, 0.5);
}

.leftBar img 
{
    width: 50px;
    margin-bottom: 200px;
}

.leftBar>.icon:hover 
{
    background-color: whitesmoke;
}



.icon
{
    height: 100px;
    background-color: red;
    margin-bottom: 50px;
    padding-top: 50px;
    cursor: pointer;
}


.leftBarExpanded
{
    display: none;
    height: 100%;
    width: 200px;
    background-color: rgba(100, 0, 0, 0.5);
    
}
.leftBarExpanded>.icon 
{
    height: 150px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.leftBarExpanded>.icon img 
{
    width: 100px;
    margin-bottom: 200px;
}

.leftBarExpanded>.icon:hover 
{
    background-color: whitesmoke;
}

.clockHeading
{
    font-family: monospace;
    font-size: 30px;
    width: 100px;
    margin-left: -25px;
    font-weight: bolder;
    text-align: center;
}

.selected
{   background-color: whitesmoke;}

.adjust1
{   transform: translateX(23px);}

.adjust2
{   transform: translateX(25px);}


/* Clock Styling */
.clock
{

    position: absolute;
    border-radius: 25px;
    top: 200px;
    left: 500px;
    display: none;
    height: 500px;
    width: 900px;
    background-color: whitesmoke;
    color: whitesmoke;

}

.clock>.border
{
    border-radius: 5px;
    background-color: black;
    position: relative;
    top: 50px;
    left: 75px;
    height: 300px;
    width: 650px;
    padding: 50px;
    font-family: "digital-7_monomono";
    text-align: center;
}

#day
{
    font-size: 100px;
}

#timeOfDay
{
    font-size: 50px;
}

#hourClock
{
    display: inline-block;
    font-size: 100px;
}

#minuteClock
{
    display: inline-block;
    font-size: 100px;
}

#secondClock
{
    display: inline-block;
    font-size: 100px;
}


#dateClock
{
    margin-left: 30px;
    display: inline-block;
    font-size: 75px;
}

#monthClock
{
    display: inline-block;
    font-size: 75px;
}


#yearClock
{
    display: inline-block;
    font-size: 75px;
}

/* Stopwatch Styling */
.stopwatch
{
    display: none;
    position: absolute;
    border-radius: 45%;
    top: 200px;
    left: 600px;
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    color: whitesmoke;
    font-size: 60px; 
}
.stopwatch>.border
{
    border-radius: 5px;
    background-color: black;
    position: relative;
    border-radius: 45%;
    top: 50px;
    left: 50px;
    height: 400px;
    width: 400px;
    font-family: "digital-7_monomono";
    text-align: center;
}



#startStopButton
{
    display: inline-block;
    position: absolute;
    background-color: red;
    padding-top: 20px;
    top: 100px;
    left: 50px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}

#startStopButton:hover 
{
    background-color: blueviolet;
}

#splitResetButton
{
    display: inline-block;
    position: absolute;
    background-color: red;
    padding-top: 20px;
    top: 100px;
    left: 250px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}
#splitResetButton:hover 
{
    background-color: blueviolet;
}

#minuteStopwatch
{
    display: inline-block;
    position: absolute;
    padding-top: 20px;
    top: 200px;
    left: 80px;
    border-radius: 20px;
}

#secondStopwatch
{
    display: inline-block;
    position: absolute;
    padding-top: 20px;
    top: 200px;
    left: 180px;
    border-radius: 20px;
}

#milisecondStopwatch
{
    display: inline-block;
    position: absolute;
    padding-top: 20px;
    top: 215px;
    left: 280px;
    border-radius: 20px;

    font-size: 40px;
}

/* Stopwatch Split Box */
.splitBox
{
    position: absolute;
    height: 100%;
    top: 200px;
    left: 1150px;
    display: none;
    font-family: monospace;
    font-size: 40px;
}

.splitBoxRow
{    display: table-row;}
.splitBoxRow:nth-child(2n)
{    background-color: grey;}
.splitBoxRow:nth-child(2n-1)
{    background-color: whitesmoke;}

#countNumber
{
    display: table-cell;
    padding-right: 100px;
}
#splitTime
{
    display: table-cell;
    padding-right: 100px;
}
#deltaTime
{    display: table-cell;}


/* Timer Styling */
.timeUpText
{ display: none;}
#timeUpText
{    
    font-size: 100px;
    color: whitesmoke;
    position: absolute;
    left: 770px;
    top: 50px;
}

.timer
{
    display: none;
    position: absolute;
    border-radius: 5%;
    top: 250px;
    left: 600px;
    height: 250px;
    width: 800px;
    background-color: whitesmoke;
    color: whitesmoke;
    font-size: 60px; 
}

.timer>.border
{
    background-color: black;
    position: relative;
    border-radius: 5%;
    top: 20px;
    left: 50px;
    height: 200px;
    width: 700px;
    font-family: "digital-7_monomono";
    text-align: center;
}

#hourTimer
{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 30px;
}
#hourDisplay
{
    text-align: center;
    transform: translate(20px, -5px);
}


#minuteTimer
{
    position: absolute;
    top: 10px;
    left: 180px;
}
#minuteDisplay
{
    text-align: center;
    transform: translate(20px, -5px);
}


#secondTimer
{
    position: absolute;
    top: 10px;
    left: 340px;
}
#secondDisplay
{
    text-align: center;
    transform: translate(20px, -5px);
}
#startPauseButton
{
    display: inline-block;
    position: absolute;
    background-color: red;
    padding-top: 20px;
    top: 15px;
    left: 550px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}
#startPauseButton:hover 
{
    background-color: blueviolet;
}
#resetButton
{
    display: inline-block;
    position: absolute;
    background-color: red;
    padding-top: 20px;
    top: 100px;
    left: 550px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}
#resetButton:hover 
{
    background-color: blueviolet;
}

.active
{    display: inline-block;}

