@font-face 
{
    font-family: 'digital-7_monomono';
    src: url('./../Fonts/digital7-webfont.woff2') format('woff2'),
         url('./../Fonts/digital7-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

body 
{
    margin: 0px;
    user-select: none;
    height: 100%;
}


.leftBar 
{
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    height: 100%;
    width: 150px;
}

.leftBarButton:hover 
{
    background-color: whitesmoke !important;
}

.selected
{
    background-color: #0d47a1 !important;
}

.active
{
    display: inline-block;
}

#zones
{
    margin-left: 700px;
    margin-top: 10px;
}

.dropdown-menu
{
    max-height: 400px;
    overflow-y: auto;
}

/* Clock Styling */
.clock
{
    display: none;
    margin-top: 100px;
    margin-left: 20%;
    border-radius: 25px;
    height: 500px;
    width: 900px;   

}

.clock>.border
{
    margin-top: 30px;
    margin-left: 75px;
    height: 385px;
    width: 750px;
    background-color: black;
    font-family: "digital-7_monomono";
    font-size: 50px;
    text-align: center;
}

.clock>.border>div 
{
    display: inline-block;
}

/* Stopwatch Styling */
.stopwatch
{
    margin-left: 20%;
    margin-top: 75px;
    display: none;
    border-radius: 45%;
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    color: whitesmoke;
    font-size: 50px; 
}
.stopwatch>.border
{
    margin: 13%;
    padding-top: 15%;
    border-radius: 5px;
    background-color: black;
    border-radius: 45%;
    height: 300px;
    width: 300px;
    font-family: "digital-7_monomono";
    text-align: center;
}

#startStopButton
{
    display: inline-block;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
    background-color: #CC0000;
}

#startStopButton:hover 
{
    background-color: #0099CC !important;
}

#splitResetButton
{
    display: inline-block;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
    background-color: #CC0000;
}
#splitResetButton:hover 
{
    background-color: #0099CC !important;
}

.stopwatchDisplay
{
    display: inline-block;
    padding-top: 20px;
    border-radius: 20px;
}

/* Stopwatch Split Box */
.splitBox 
{
    display: none;
    vertical-align: top;
    margin: 50px;
    max-height: 500px;
    overflow-y: auto;
}
th
{
    text-align: center;
    white-space: nowrap;
    padding-right: 50px !important;
}


/* Timer Styling */

.timeUpText
{    
    display: none;
    margin-top: 50px;
    margin-left: 500px;
    font-size: 70px;
    color: whitesmoke;
}

.timer
{
    margin-left: 20%;
    margin-top: 100px;
    display: none;
    border-radius: 5%;
    height: 350px;
    width: 800px;
    background-color: whitesmoke;
    color: whitesmoke;
    font-size: 40px; 
}

.timer>.border
{
    margin-top: 25px;
    margin-left: 50px;
    background-color: black;
    border-radius: 5%;
    height: 300px;
    width: 700px;
    font-family: "digital-7_monomono";
    text-align: center;
}

#startPauseButton
{
    display: inline-block;
    background-color: #CC0000;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}
#startPauseButton:hover 
{
    background-color: #0099CC !important;
}
#resetButton
{
    display: inline-block;
    background-color: #CC0000;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 40px;
    cursor: pointer;
}
#resetButton:hover 
{
    background-color: #0099CC !important;
}

.active
{    display: inline-block;}

